// Custom styles.

/** 屏幕设置**/
@media screen and (min-width: 1600px) {
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    font-size: 16px;
    font-family: "Microsoft YaHei", 'Arial', 'Lato', "PingFang SC", sans-serif;
  }
  .container .header {
    width: 1360px;
  }
  .container .main-inner {
    width: 1360px;
  }
  .content-wrap {
    width: 1100px;
  }
}

/**字体设置 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Microsoft YaHei", "Arial", "Lato", "PingFang SC", sans-serif;
}
@media screen and (min-width: 1200px) {
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
  }
  #footer a {
    color: #eee;
  }
}

/*菜单设置*/
.site-brand-wrapper {
  background: rgba(31,166,122,0.7);
}
.site-meta {
  background: rgba(31,166,122,0.7);
}
.site-title {
  font-weight: 400;
  font-size: 24px;
  max-width: 640px;
  display: inline-block;
  padding: 12px 20px;
  margin-bottom: 0;
  color: #fff;
}
.header-inner {
  background: rgba(255,255,255,0);
}
.divide {
  background: rgba(255,255,255,0.9);
  line-height: 20px;
}
.menu {
  background: rgba(255,255,255,0.9);
  margin-top: 0px;
  margin-bottom: 0px;
}
.sidebar {
  background: rgba(255,255,255,0);
}
.sidebar-inner {
  background: rgba(255,255,255,0.9);
}
.sidebar-inner.affix {
  background: rgba(255,255,255,0.9);
}
.content-wrap {
  background: rgba(255,255,255,0.9);
}
.menu-item-icon {
  color: #1fa67a;
}
.menu-item-active a {
  background: #7eccad;
  color: #fff;
}
.menu .menu-item a:hover {
  background: #7eccad;
  color: #fff;
}
.menu .menu-item a:after {
  background-color: #fff;
  color: #fff;
}
.menu-item-active i {
  background: #7eccad;
  color: #fff;
}
.site-state-item {
  border-left: 1px solid #68c39f;
}
.links-of-author i {
  color: #1fa67a;
}
.post-meta-item-icon i {
  color: #1fa67a;
}
.page-pv i {
  color: #1fa67a;
}
.post-tags i {
  color: #1fa67a;
}
.post-nav {
  border-top: 0px;
}
.post-nav a {
  color: #1fa67a;
  border: 1px solid #e8e8e8;
  padding: 6px 12px;
  border-radius: 4px;
  display: block;
}
.post-nav a:hover {
  color: #fff;
  background: #1fa67a;
  text-decoration: none;
}
.post-nav-prev {
  float: right;
  text-align: right;
}
.post-nav-next {
  float: left;
  text-align: left;
}
.post-nav-item {
  display: table-cell;
  padding: 10px 0 0 0;
  width: auto;
  vertical-align: top;
}
.post-nav-item .fa {
  position: static;
}
.links-of-blogroll-title {
  color: #1fa67a;
  text-decoration: none;
}

/*友情链接样式*/
.links-of-blogroll-inline .links-of-blogroll-item a {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.links-of-blogroll-inline .links-of-blogroll-item {
  margin: 0px;
  width: auto;
  line-height: 1.5;
}

.links-of-blogroll-item i {
  color: #1fa67a;  
}

.links-of-blogroll-list a {
  color: #1fa67a;
  border-bottom: 0px;
}
.links-of-blogroll-list a: hover {
  color: #333;
}
.posts-expand .post-title-link::before {
  background-color: #646464;
}
.post-button .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #1fa67a;
}

/*阅读全文*/
.btn .btn-default .read-more {
  border: 1px solid #e8e8e8;
  color: #1fa67a;
  background-color: transparent;
  margin-top: 10px;
}
.post-button a {
  color: #1fa67a;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn.btn-default.read-more:hover {
  color: #fff;
  background-color: #1b926c;
  border-color: #1b926c;
}
#comments {
  margin-top: 80px;
  margin-left: 0px;
  margin-right: 0px;
  background: #f0f0f0;
}

#footer {
  background: rgba(59,59,59,0.8);
  color: #ddd;
}
.posts-expand .post-eof {
  width: 100%;
  color: #eee;
}
#days {
  color: #1fa67a;
  font-size: 14px;
  margin-top: 15px;
}
#days,
#top {
  display: block;
}

.posts-collapse::after {
  margin-left: -2px;
  background-image: linear-gradient(180deg, #f79533 0, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
}
.page-archive .posts-collapse .archive-move-on {
  background: #1fa67a;
}
.posts-collapse .collection-title::before {
  background: #1fa67a;
}
.posts-collapse .post-header::before {
  background: #1fa67a;
}


